body {
  padding: 0 10%;
  font-family: sans-serif;
  font-size: 14px;
  background-color: white;
  color: black;
}

h2 {
  text-align: center;
}

#tracker {
	z-index: 2;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    width: 45px;
}
